*{
    margin: 0;
    padding: 0;
}
/* Common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
}


/* header related style */
.header {
    background: rgba(229, 84, 115, 0.10);
}

/* Bannar style */
.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner {
    display: flex;
    padding: 50px 30px 0px 150px;
    align-items: center;
}

.banner .banner-pic {
    width: 500px;
}